.DialogOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  position: fixed;
  inset: 0;
  animation: overlayShow 300ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1000;
}

.DialogContent {
  background-color: #eee3;
  border: 1px solid #eee3;
  border-radius: 15px;
  padding: 10px;
  box-shadow: #ccc;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1001;
  box-sizing: border-box;
  backdrop-filter: blur(25px);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.skin-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.BedwarsOverlay {
  background-color: #fde4;
  border: 1px solid #fde4;
  border-radius: 15px;
  padding: 10px;
  box-shadow: #ccc;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: min(90vw, 1000px);
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1001;
  box-sizing: border-box;
  overflow-y: scroll;
  backdrop-filter: blur(20px);
}

.HelpOverlay {
  backdrop-filter: blur(15px);
}

.ToastViweport {
  --viewport-padding: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: var(--viewport-padding);
  gap: 10px;
  width: 390px;
  max-width: 100vw;
  margin: 0;
  list-style: none;
  z-index: 2147483647;
  outline: none;
}

.ToastRoot {
  background-color: #eee3;
  backdrop-filter: blur(10px);
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  padding: 15px;
  display: grid;
  grid-template-areas: "title action" "description action";
  grid-template-columns: auto max-content;
  column-gap: 15px;
  align-items: center;
}

.ToastTitle {
  text-align: center;
}

.ToastRoot[data-state="open"] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.ToastRoot[data-state="closed"] {
  animation: hide 100ms ease-in;
}
.ToastRoot[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.ToastRoot[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + 25px));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.SeparatorRoot {
  background-color: #101e10;
}

.dialog-close {
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
  backdrop-filter: none;
  transition: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 6px;
}

.dialog-close > svg {
  width: 24px;
  height: 24px;
}

.dialog-close:hover {
  cursor: pointer;
  background-color: transparent;
  backdrop-filter: none;
  transition: none;
}
