.main-content {
  max-width: 1280px;
  margin: 0 20vw 0 20vw;
  padding: 2rem;
  width: 100%;
}

@media screen and (width < 1400px) {
  .main-content {
    margin: 4vh 15vw 4vh 15vw;
  }
}

@media screen and (width < 900px) {
  .main-content {
    margin: 4vh 10vw 4vh 10vw;
  }
}

@media screen and (width < 750px) {
  .main-content {
    padding: 1rem;
    margin: 0 0 2vh 0;
  }
}

:root {
  --hue: 245;

  /* BACKGROUND (60%) - Very dark, low saturation */
  --color-background: hsl(var(--hue), 10%, 15%);

  /* SURFACE (30%) - The main content cards */
  --color-surface: hsl(var(--hue), 12%, 22%);

  /* ELEMENT (10%) - The smaller info cards */
  --color-card: hsl(var(--hue), 15%, 30%);
  --color-card-hover: hsl(
    var(--hue),
    15%,
    35%
  ); /* A slightly lighter hover state */

  /* TEXT */
  --text-primary: hsl(
    var(--hue),
    20%,
    96%
  ); /* A very light, slightly purplish white */
  --text-secondary: hsl(
    var(--hue),
    15%,
    87%
  ); /* A dimmer, grayer purple for labels */

  /* ACCENT (+): A contrasting color for primary actions */
  --color-accent: hsl(180, 65%, 55%); /* A bright cyan */
  --color-accent-hover: hsl(180, 65%, 65%);

  /* Layers for transparency*/
  --color-surface-layer-1: #ccc1;
  --color-surfact-layer-2: #eee1;
}

body {
  background: linear-gradient(135deg, #394488 0%, #41284e 100%);
  background: linear-gradient(135deg, #5c406d 0%, #5c3f83 100%);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--text-primary);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.searchbar {
  width: 200px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid var(--color-surfact-layer-2);
  background-color: var(--color-surfact-layer-2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: var(--text-primary);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-card);
  cursor: pointer;
}

button:hover {
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(2px);
}
.search-button {
  padding: 15px;
  transition: none;
}

.search-row {
  display: flex;
  gap: 15px;
}

.skin-showcase {
  height: 150px;
  image-rendering: pixelated;
  border-radius: 5px;
}

.cape-showcase {
  image-rendering: pixelated;
  height: 100%;
  border-radius: 4px;
}

.cape-section {
  display: flex;
  background-color: var(--color-surfact-layer-2);
  border: 1px solid var(--color-surfact-layer-2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 150px;
}

.cape-name {
  margin: 0;
  padding: 0 10px;
  font-size: 1.1em;
  font-family: "Google Sans Code", monospace;
}

.cape-name-label {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.mojang-img {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.username {
  font-size: 1.4rem;
  margin: 0;
  font-family: "Google Sans Code", monospace;
}

.uuid {
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--text-secondary);
  font-family: "Google Sans Code", monospace;
}

.uuid-container {
  margin: 0 0 15px 0;
}

.mojang-data,
.hypixel-data,
.advanced-info-tabs,
.player-tracker {
  width: 100%;
  background-color: var(--color-surface-layer-1);
  border: 1px solid var(--color-surfact-layer-2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.guild-list-item-container {
  display: block;
}

.guild-list-item {
  display: block;
  background-color: var(--color-surfact-layer-2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  border: 1px solid var(--color-surfact-layer-2);
  transition: none;
}

.guild-list-item:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
}

.guild-list,
.info-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-left: 0;
  list-style: none;
}

.list-uuid {
  color: var(--text-secondary);
  font-size: 0.7rem;
  text-align: left;
}

.list-username {
  margin-bottom: 0;
  text-align: left;
}

.info-card {
  display: block;
  backdrop-filter: blur(10px);
  background-color: var(--color-surfact-layer-2);
  border: 1px solid var(--color-surfact-layer-2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
}

.info-card-label {
  color: var(--text-secondary);
  font-size: 0.85em;
  margin: 0;
  font-family: "Google Sans Code", monospace;
}

.info-card-value {
  font-size: 1.1em;
  font-family: "Google Sans Code", monospace;
}

.guild-member-image {
  image-rendering: pixelated;
  height: 80px;
  border-radius: 3px;
}

.guild-member-flex-container {
  display: flex;
  gap: 10px;
}

button {
  color: var(--text-primary);
  background-color: var(--color-surfact-layer-2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: 0.35s;
}

.loading-skeleton {
  background-color: var(--color-surface);
  border-radius: 5px;
  height: 241px;
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.75;
  }
}

.copy-icon {
  cursor: pointer;
}

.copy-icon-clicked {
  animation: copy-clicked 1s ease;
  padding-left: 10px;
}

@keyframes copy-clicked {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(0.7);
  }
}

.loading-container {
  backdrop-filter: blur(100px);
  background-color: var(--color-surface-layer-1);
  border: 1px solid var(--color-surfact-layer-2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 25px;
  height: 120px;
  width: 120px;
  border-radius: 15px;
}

.advanced-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  position: sticky;
  top: 15px;
  z-index: 10;
  backdrop-filter: blur(10px) brightness(110%) contrast(80%);
  background-color: var(--color-surface-layer-1);
  border: 1px solid var(--color-surfact-layer-2);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.em-text {
  font-size: 1.2em;
  margin: 0;
  padding-bottom: 5px;
}

.secondary-text {
  color: var(--text-secondary);
  margin: 0;
  padding: 0;
}

.no-padding {
  padding: 0;
  margin: 0;
}

.align-right {
  text-align: right;
}

.distribution-chart {
  width: 100%;
  height: 200px;
}

.distribution-graph {
  background-color: var(--color-surfact-layer-2);
  border: 1px solid var(--color-surfact-layer-2);
  border-radius: 15px;
  padding: 10px;
  color: var(--text-primary);
  backdrop-filter: blur(10px);
  width: 400px;
  max-height: fit-content;
}

.icon {
  height: fit-content;
}

.info-card-row {
  display: flex;
}

.icon-button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #aaa0;
  border-radius: 5px;
  height: 20px;
}

.icon-button:hover {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #aaa0;
  border-radius: 5px;
  height: 20px;
}

.icon-button:focus {
  border-color: var(--color-accent);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-flex {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.track-player {
  min-width: 400px;
  width: 35%;
  backdrop-filter: blur(10px);
  background-color: var(--color-surfact-layer-2);
  border: 1px solid var(--color-surfact-layer-2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.track-flex > button {
  height: 50px;
}

.motion-button {
  animation: none;
  transition: none;
}

.tracker-live-data {
  backdrop-filter: blur(10px);
  background-color: var(--color-surfact-layer-2);
  border: 1px solid var(--color-surfact-layer-2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 10px;
}

.tracker-live-data > h3,
.tracker-live-data > p {
  margin: 0;
  font-family: "Google Sans Code", monospace;
}

.tracker-history {
  font-family: "Google Sans Code", monospace;
  backdrop-filter: blur(10px);
  background-color: var(--color-surfact-layer-2);
  border: 1px solid var(--color-surfact-layer-2);
  border-radius: 10px;
  padding: 15px;
  margin-top: 0px;
}

.tracker-history > li {
  display: block;
}

.track-header {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin-bottom: -10px;
  margin-left: 2px;
}

.compact-paragraph {
  line-height: 1;
  margin: 10px 0;
}

.track-subheader {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 2px;
}

.track-stop-button {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.timeline-item {
  display: flex;
  gap: 20px;
}

.timeline-item > div {
  backdrop-filter: blur(10px);
  background-color: var(--color-surfact-layer-2);
  border: 1px solid var(--color-surfact-layer-2);
  border-radius: 10px;
  padding: 15px;
  height: 90%;
}

.timeline-time {
  margin-top: 1.2em;
}

.timeline-part {
  margin-top: 1.5em;
  margin-bottom: -1.5em;
}

.tracker-timeline {
  font-family: "Google Sans Code", monospace;
  backdrop-filter: blur(10px);
  background-color: var(--color-surfact-layer-2);
  border: 1px solid var(--color-surfact-layer-2);
  border-radius: 10px;
  padding: 15px 35px;
  margin-top: 0px;
}

.timeline-header {
  font-size: 1.15em;
  font-weight: 600;
}

.last-timeline-item {
  margin-bottom: -1.5em;
}

.track-history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 15px 0 10px 2px;
}

.track-history-header > h3 {
  margin: 0;
}

.select-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.select-button-left {
  border-radius: 15px 0px 0px 15px;
}

.select-button-right {
  border-radius: 0px 15px 15px 0px;
}

.select-container {
  display: flex;
  border-radius: 15px;
  align-items: center;
}

.selected-tab {
  background-color: #f4f077;
  color: #101e10;
}

.selected-tab:hover {
  background-color: #f8d563;
}

.left-align {
  text-align: left;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bedwars-table {
  background: var(--color-surface-layer-1);
  border-radius: 5px;
  border: 1px solid var(--color-surfact-layer-2);
  padding: 10px;
  table-layout: fixed;
  border-collapse: collapse;
  width: max(100%, 30rem);
}

.bedwars-table > tbody > tr > td,
.bedwars-table > thead > tr > th {
  padding: 10px 10px;
  border-bottom: 1px solid var(--color-surfact-layer-2);
  text-align: right;
  min-width: 5rem;
}

.bedwars-table thead > tr > th {
  font-weight: 650;
  text-align: center;
}

@media screen and (width < 750px) {
  .bedwars-table > tr > td {
    min-width: 3rem;
  }
}

.bedwars-table > tbody > tr:hover {
  transition: 0.1s;
  background-color: #aaa3;
}

.bedwars-stat-value {
  font-family: "Google Sans Code", monospace;
}

.bedwars-stat-name {
  font-weight: 550;
}

.dialog-close {
  display: flex;
  justify-content: end;
  margin: 10px 0;
}

.bedwars-showcase {
  padding: 20px;
  border: 1px solid var(--color-surfact-layer-2);
}

.load-more-button {
  transition: none;
  color: #101e10;
}

.load-more-container {
  display: flex;
  justify-content: center;
}

.bedwars-top-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: 600;
}

.bedwars-top-row > img {
  height: 128px;
  width: 128px;
  image-rendering: pixelated;
  border-radius: 8px;
}

.chart-cursor {
  border-radius: 5px;
}

.not-found-container {
  background-color: var(--color-surface-layer-1);
  border: 1px solid var(--color-surfact-layer-2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 35px;
  padding-left: 25px;
  border-radius: 15px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.not-found-container > svg {
  width: 80px;
  height: 80px;
}

.not-found-container > div {
  width: 100%;
}

.not-found-container > div > h2,
.not-found-container > div > p {
  margin: 0;
}

.not-found-container > div > h2 {
  margin-bottom: 5px;
  font-weight: 600;
}

.favorites-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  margin: 0;
  padding: 0px;
  gap: 20px;
}

.favorites-list > li {
  display: flex;
  backdrop-filter: blur(10px);
  background-color: var(--color-surfact-layer-2);
  border: 1px solid var(--color-surfact-layer-2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  height: 6em;
}

.favorites-list > li > img {
  image-rendering: pixelated;
  height: 100%;
  border-radius: 3px;
}

.favorites-list > li > div {
  width: 100%;
}

.favorites-list > li > div > h2 {
  font-weight: 600;
  margin: 0;
  padding: 5px 10px;
}

.favorites-list > li > div > p {
  margin: 0;
  padding: 5px 10px;
}

.favorite-action {
  height: 32px;
  width: 32px;
}

.favorite-action:hover {
  height: 32px;
  width: 32px;
}

.favorite-action-container {
  display: flex;
  gap: 5px;
  justify-content: end;
  position:absolute;
  bottom: 10px;
  right: 10px;
}

.text-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}

.text-icon > button > svg{
  cursor: pointer;
  height: 22px;
  width: 22px;
}

.favorite-action-container > button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-action-container > button > svg {
  height: 80%;
  width: 80%;
  cursor: pointer;
}


.favorite-content {
  display: flex;
  flex-direction: column;
}

.help-ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  gap: 10px;
}

.help-ul > li {
  display: grid;
  grid-template-columns: 1fr 7fr;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ccc1;
}

.help-ul > li > svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}